In [0]:
import pandas as pd

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
df=pd.read_csv("/content/drive/My Drive/Dataset/clean.csv",index_col=0)
df.head(5)

       1  2  3  4  5  6  7  8  9  10  ...  41  42  43  44  45  46  47  48  49  50
26629  4  4  4  4  5  0  4  0  0   0  ...   0   4   4   0   0   0   0   0   4   0
10246  4  0  1  0  4  0  4  5  0   0  ...   0   0   0   0   0   0   0   0   0   0
22534  0  0  0  0  0  3  0  0  0   0  ...   0   0   0   0   0   0   3   0   0   0
24582  0  0  0  0  0  0  0  0  0   0  ...   4   0   0   0   0   0   0   0   2   0
10249  0  0  5  0  0  0  5  0  0   4  ...   5   0   3   4   0   3   3   3   5   0

[5 rows x 50 columns]

In [0]:
d=df.T
d.head(5)

   26629  10246  22534  24582  10249  ...  20467  49138  24567  16377  53245
1      4      4      0      0      0  ...      3      0      0      4      4
2      4      0      0      0      0  ...      0      0      0      0      0
3      4      1      0      0      5  ...      0      0      0      1      0
4      4      0      0      0      0  ...      4      0      0      0      5
5      5      4      0      0      0  ...      4      0      0      0      0

[5 rows x 445 columns]

In [0]:
corrMatrix = d.corr(method='pearson')
corrMatrix.head(5)

          26629     10246     22534  ...     24567     16377     53245
26629  1.000000  0.157584 -0.172190  ...  0.058548 -0.078586  0.006543
10246  0.157584  1.000000  0.037649  ... -0.125383  0.059911  0.001132
22534 -0.172190  0.037649  1.000000  ... -0.086296  0.091919 -0.057928
24582  0.035155 -0.050747  0.220452  ...  0.051044  0.163151 -0.126512
10249  0.195953 -0.176683  0.090177  ...  0.135247  0.041519 -0.245749

[5 rows x 445 columns]

In [0]:
corrMatrix[10246]

26629    0.157584
10246    1.000000
22534    0.037649
24582   -0.050747
10249   -0.176683
           ...
20467    0.219314
49138   -0.092689
24567   -0.125383
16377    0.059911
53245    0.001132
Name: 10246, Length: 445, dtype: float64

In [0]:
def get_similar(user_id):
    similar_score = corrMatrix[user_id]
    similar_score = similar_score.sort_values(ascending=False)
    #print(type(similar_ratings))
    return similar_score

In [0]:
user = [(22534)]
similar_scores = pd.DataFrame()
for user_id in user:
    similar_scores = similar_scores.append(get_similar(user_id),ignore_index = True)

similar_scores.head(10)

      173       314       368      439    ...    53145     53245     53292     53293
0  0.210102  0.265048 -0.086296  0.24324  ...  0.05812 -0.057928 -0.004887 -0.131683

[1 rows x 445 columns]

In [0]:
similar_scores.sum().sort_values(ascending=False)

22534    1.000000
14222    0.598694
26282    0.584892
35982    0.554552
8454     0.552230
           ...
21487   -0.340112
19526   -0.359617
21217   -0.364566
48559   -0.387152
12874   -0.387427
Length: 445, dtype: float64

In [0]:
p=pd.DataFrame(similar_scores.sum().sort_values(ascending=False),columns=["similarity"])
p

       similarity
22534    1.000000
14222    0.598694
26282    0.584892
35982    0.554552
8454     0.552230
...           ...
21487   -0.340112
19526   -0.359617
21217   -0.364566
48559   -0.387152
12874   -0.387427

[445 rows x 1 columns]

In [0]:
disimiler=p[p['similarity'] < 0].index
p.drop(disimiler , inplace=True)
p

       similarity
22534    1.000000
14222    0.598694
26282    0.584892
35982    0.554552
8454     0.552230
...           ...
40126    0.111522
36099    0.107219
18100    0.106969
9668     0.103513
40468    0.102469

[124 rows x 1 columns]

In [0]:
p['similarity'][14222]

0.598694373295037

In [0]:
p_rating=0
sumsim=0
for i in p.index[1:]:
  p_rating+=p['similarity'][i]*df['6'][i]
  sumsim+=p['similarity'][i]
p_rating=p_rating/sumsim
p_rating

1.9239507647352734