In [0]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
df=pd.read_csv("/content/drive/My Drive/Dataset/data.csv")
df.head(5)

   id  ...                                    small_image_url
0   0  ...  https://images.gr-assets.com/books/1361039191s...
1   1  ...  https://images.gr-assets.com/books/1387141547s...
2   2  ...  https://images.gr-assets.com/books/1474154022s...
3   3  ...  https://images.gr-assets.com/books/1499277281s...
4   4  ...  https://images.gr-assets.com/books/1361482611s...

[5 rows x 7 columns]

In [0]:
df["authors"]=df["authors"]+" "+df["original_title"]+" "+df["language_code"]
df.head(5)

   id  ...                                    small_image_url
0   0  ...  https://images.gr-assets.com/books/1361039191s...
1   1  ...  https://images.gr-assets.com/books/1387141547s...
2   2  ...  https://images.gr-assets.com/books/1474154022s...
3   3  ...  https://images.gr-assets.com/books/1499277281s...
4   4  ...  https://images.gr-assets.com/books/1361482611s...

[5 rows x 7 columns]

In [0]:
df.drop(["language_code","image_url","small_image_url"],axis=1,inplace=True)
df.head(5)

   id  ...                             original_title
0   0  ...     Harry Potter and the Half-Blood Prince
1   1  ...  Harry Potter and the Order of the Phoenix
2   2  ...   Harry Potter and the Philosopher's Stone
3   3  ...   Harry Potter and the Prisoner of Azkaban
4   4  ...        Harry Potter and the Goblet of Fire

[5 rows x 4 columns]

In [0]:
df=df.rename(columns={"authors":"title"})
df.head(5)

   id  ...                             original_title
0   0  ...     Harry Potter and the Half-Blood Prince
1   1  ...  Harry Potter and the Order of the Phoenix
2   2  ...   Harry Potter and the Philosopher's Stone
3   3  ...   Harry Potter and the Prisoner of Azkaban
4   4  ...        Harry Potter and the Goblet of Fire

[5 rows x 4 columns]

In [0]:
def get_title_from_index(ind):
  return df[df.id == ind]["original_title"].values[0]

In [0]:
def get_index_from_title(title):
  return df[df.original_title == title]["id"].values[0]

In [0]:
l=list(df.title)
cv= CountVectorizer()
count_matrix=cv.fit_transform(df.title)
cosin_m=cosine_similarity(count_matrix)

In [0]:
def get_items(title):
  book_index=get_index_from_title(title)
  similer_books=list(enumerate(cosin_m[book_index]))
  sorted_similer_books=sorted(similer_books,key=lambda x:x[1],reverse=True)
  l=list()
  i=0
  for element in sorted_similer_books:
    l.append(get_title_from_index(element[0]))
    i+=1
    if i>10:
      break
  return l

In [0]:
get_items("The Hitchhiker's Guide to the Galaxy")

['Notes from a Big Country',
 'Notes from a Small Island',
 'A Short History of Nearly Everything',
 'Neither Here Nor There: Travels in Europe',
 'The Lost Continent: Travels in Small-Town America',
 'The Mother Tongue: English and How It Got That Way',
 'Down Under',
 'Hatchet',
 "The Hitchhiker's Guide to the Galaxy",
 'Harry Potter and the Half-Blood Prince',
 'Harry Potter and the Order of the Phoenix']